@import "tailwindcss";
@plugin "@tailwindcss/typography";
@theme {
  /* Paleta de colores */
  --color-background: #0a0a0a;
  --color-surface: #171717;
  --color-text: #d4d4d4;
  --color-accent: #0080FF;

  /* Tipografías */
  --font-sans: "Space Grotesk", sans-serif;
  --font-mono: "Fira Code", monospace;
}

/* Personalización del Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-surface);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}